<!DOCTYPE html>
<html>
<head>
  <title>Test25</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render 'layouts/navigation_links' %>
  </header>

  <main role="main">
    <p class="alert"><%= alert %></p>
    <div class="container" id="container">
      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </main>

</body>
</html>
